<p id="notice"><%= notice %></p>

<h1>Characters</h1>
<h2>Quotes</h2>

<table>
  <thead>
    <tr>
      <th>Character ID</th>
      <th>Name</th>
      <th>Occupation</th>
      <th>Img</th>
      <th>Status</th>
      <th>Nickname</th>
      <th>Appearance</th>
      <th>Better call saul appearance</th>
      <th>Portrayed</th>
      <th>Category</th>
      <th>Quotes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @characters.each do |character| %>
      <tr>
        <td><%= character.api_id %></td>
        <td><%= character.name %></td>
        <td><%= character.occupation %></td>
        <td><%= image_tag character.img %></td>
        <td><%= character.status %></td>
        <td><%= character.nickname %></td>
        <td><% character.appearance.each do |appearance| %>
          <%= link_to appearance,  controller: "episodes", action: "index", season_id: appearance, series_id: "Breaking Bad"  %>
        <% end %></td>
        <td><% character.better_call_saul_appearance.each do |better_call_saul_appearance| %>
          <%= link_to better_call_saul_appearance,  controller: "episodes", action: "index", season_id: better_call_saul_appearance, series_id: "Better Call Saul"  %>
        <% end %></td>
        <td><%= character.portrayed %></td>
        <td><%= character.category %></td>
        
        <% @quotes.each do |quote| %>
          <%= quote.quote %>
        <% end %>
        <td><%= link_to 'Show', character %></td>
      </tr>
    <% end %>
  </tbody>
</table>


