<%= form_with(model: show) do |form| %>
  <% if show.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(show.errors.count, "error") %> prohibited this show from being saved:</h2>

      <ul>
        <% show.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :api_id %>
    <%= form.number_field :api_id %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :seasons %>
    <%= form.text_area :seasons %>
  </div>

  <div class="field">
    <%= form.label :episodes %>
    <%= form.text_area :episodes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
