<p id="notice"><%= notice %></p>

<p>
  <strong>Api:</strong>
  <%= @show.api_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @show.title %>
</p>

<p>
  <strong>Seasons:</strong>
  <%= @show.seasons %>
</p>

<p>
  <strong>Episodes:</strong>
  <%= @show.episodes %>
</p>

<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
